.DS_Store
.env
.build/
DerivedData/
.derived-data/
.derived-data-test/
.derived-data-ui/
/.release/
/.bundle/
/vendor/bundle/
/buildServer.json
mise.local.toml
xcuserdata/
*.xcuserstate
*.cer
*.p8
*.p12
*.provisionprofile
fastlane/report.xml
